<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Chat</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="app">
        <div class="join-screen active">
            <div class="form">
                <h2>Join Chat</h2>
                <form action="/join" method="POST">
                    <input type="text" id="name" name="name" placeholder="Enter your username" required>
                    <button type="submit" id="join-user">Join</button>
                </form>

            </div>
        </div>
    </div>

    <!-- <script>
        // Handle join button click
        document.querySelector("#join-user").addEventListener("click", () => {
            const username = document.querySelector("#username").value;
            if (username.length === 0) return;

            // Redirect to chat page with the username
            window.location.href = `/chat?username=${encodeURIComponent(username)}`;
        });
    </script> -->
</body>

</html>